# Auto detect text files and perform LF normalization
* text=auto
c:\Users\mr.computer\Desktop\tamarin ashor\New folder (2) c:\Users\mr.computer\Desktop\tamarin ashor\pyton c:\Users\mr.computer\Desktop\tamarin ashor\qgis2web_2025_05_06-22_56_19_980302 c:\Users\mr.computer\Desktop\tamarin ashor\tourism_92 c:\Users\mr.computer\Desktop\tamarin ashor\index.html